a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}input[type=text], textarea{ outline:none;border-radius:0;}

.search_box {
	margin: 35px 0 36px;
	text-align:left;
}

#search {
	position: relative;
}

#search input {
	border: none;
	font: 400 14px/18px 'Asap', sans-serif;
	color: #5b5b5b;
	border: 1px solid #b4b4b4;

	padding: 0 10px;
	width: 188px;
	height: 37px;
	margin-right: 0;
}

#search a {
	margin-left: -4px;
	display: inline-block;
	vertical-align: top;
	border-right: 1px solid #64676b;
	border-left: 1px solid #64676b;
}
#search a img:hover {
	opacity: .8;
	cursor: pointer;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
}

@media only screen and (max-width: 1199px) {
	
	#search input {width: 136px;}
	.search_box {margin-top: 30px;}

}

@media only screen and (max-width: 979px) {
	
	#search input {
		width: 87%;
		border: 1px solid #b4b4b4;
	}

	#search a {
		margin-left: 0;
		float: none;
		display: block;
		background: url(../images/search_bg.jpg)0 0 repeat-x;
	}

	#search img {		
    	display: inline-block;
    	padding: 0 57px;
	}
}

@media only screen and (max-width: 767px) {

	#search {
		position: relative;
		padding-right: 78px;
	}

	#search input {
		width: 100%;
		border-right:none;
		display: block;
	}

	#search a {
		position: absolute;
		top: 0;
		right: 0;
		width: 58px;
		background: none;
	}

	.search_box {margin-top: 17px;}

	#search img {padding: 0;}

}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 320px) {

}